.root {
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;

    box-sizing: border-box;

    outline: none;
    border: none;

    cursor: pointer;
}

.size {
    &_l {
        width: 52px;
    }

    &_m {
        width: 40px;
    }
}

.radius {
    &_m {
        border-radius: 16px;
    }

    &_rounded {
        border-radius: 50%;
    }
}

.view {
    &_surface {
        background: #fff;
    }

    &_brand {
        background: #0058ff;
    }

    &_flat {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.46);
    }

    &_skeleton {
        background-color: #f7f7f8;
    }
}