.root {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    background: #f7f7f8;
    width: 100vw;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    overflow-y: scroll;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 110px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.main-image {
    width: 100%;
    aspect-ratio: 1.19;
    border-radius: 24px;
    margin-top: 28px;
    background: #5c6064;
    overflow: hidden;
}

.main-result {
    width: 100%;
    border-radius: 24px;
    margin-top: 24px;
    overflow: hidden;
}

.description {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.details-title {
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 24px;
}

.details {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
}

.floating-button {
    display: flex;
    justify-content: space-between;

    position: fixed;
    left: 0;
    bottom: 80px;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 8px 0 rgba(39, 39, 39, 0.08);
    border-radius: 16px 16px 0 0;
}

.floating-button-item {
    width: calc(50% - 4px);
}