.root {
    width: 100%;
    
    border: 1px solid rgba(22, 23, 24, 0.17);
    background: #fff;

    border-radius: 24px;
    padding: 8px;
    box-sizing: border-box;
}

.image-wrapper {
    position: relative;
}

.image {
    width: 100%;
    aspect-ratio: 1.7;
    border-radius: 16px;
    background-color: #f7f7f8;
}

.type {
    position: absolute;
    top: 8px;
    left: 8px;
}

.content {
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 12px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    width: 80%;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #161718;
}

.description {
    color: #4c5257;

    max-height: 60px;
    margin-top: 12px;

    font-size: 13px;
    line-height: 20px;
    font-weight: 400;

    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    width: 1px;
    height: 20px;

    margin-left: 8px;
    margin-right: 8px;

    background-color: rgba(22, 23, 24, 0.08);
}