.root {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 20px;
    box-sizing: border-box;
    border-radius: 16px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 600;

    outline: none;
    border: none;

    text-decoration: none;

    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
    transition-property: opacity;
}

.is-loading .content {
    opacity: 0;
}

.icon {
    margin-right: 6px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.view {
    &_surface {
        border: 1px solid rgba(22, 23, 24, 0.17);
        background-color: #fff;
        color: #000;
    }

    &_brand {
        background-color: #0058ff;
        color: #fafbff;
    }

    &_critical {
        background-color: #ea1b13;
        color: #fafbff;
    }

    &_skeleton {
        background-color: #f7f7f8;
    }
}

.is-wide {
    width: 100%;
}