.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.description {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}

.main-result {
    width: 100%;
    border-radius: 24px;
    margin-top: 24px;
    overflow: hidden;
}